tests/ export-ignore
scripts/ export-ignore
phpunit.xml export-ignore
TaskFile.yml export-ignore
.gitattributes export-ignore
.gitignore export-ignore
coverage.php export-ignore
docker-compose-test.yml export-ignore
docker/ export-ignore
DockerFile export-ignore